parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        -
            identifier: class.notFound
            paths:
                - src/Behat/Testwork/Exception/Stringer/PHPUnitExceptionStringer.php
        -
            identifier: constructor.unusedParameter
            paths:
                - src/Behat/Behat/Transformation/Transformation/ReturnTypeTransformation.php
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
